@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');

:root {
    --lightgreen: #80C2AF;
    --green: #5C946E;
    --black: #2A2D34;
    --blue: #30C5FF;
    --lightblue: #A0DDE6;
}


body {
    background-color: var(--lightgreen);
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 500px;
    margin: 20px;
}

#search-results {
    list-style-type: none;
    text-align: left;
}

#search-results li {
    font-weight: bold;
    font-size: 17px;
    background-color: var(--lightblue);
    margin: 5px;
    padding: 5px;
}


.darksky-footnote {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.darksky-footnote a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}